body {
    background-color: tan;
}


.deletedRecipe {color:red; font-style: italic;}

h1{color:black; text-align:center;}
h2{color:black; text-align:center;}

footer {color:pink;text-align:center;
}

.validationError {
    color: red;
    font-weight: bold;
}